{% extends 'base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blogs/app.css' %}">
{% endblock %}


{% block page_title %}
Our blog post home page
{% endblock %}

{% block body_content %}

<!--{% include "blogs/includes/header.html" %}-->
<section>
     <header>
          <h1>My personal blog post</h1>
          <h2>I write about python </h2>
          <img src="{% static 'blogs/images/image.jpg' %}" alt="Author"/>
     </header>

</section>

<section>
     <h2>Featured posts</h2>
     <ul>
          <li>
               <article>
                    {% for blog in l_blogs %}
    <li>
        <article>
            <a href="{% url 'blog-post' blog=blog.slug %}">{{blog.title}}</a>
            <img src="{% static 'blogs/images/'|add:blog.image %}" alt="{{ blog.title }}"/>
            <div>
                <p>{{ blog.preview }}</p>
            </div>
        </article>
    </li>
    {% endfor %}
               </article>
     </ul>
</section>

<section>
     <h2>About the author.</h2>
     <p>The author is learning python and will secure a good placement.</p>
     <p>Contact me on anywhere</p>
</section>
{% endblock %}
