{% extends 'base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blogs/app.css' %}">
{% endblock %}


{% block page_title %}
Our blog post home page
{% endblock %}

{% block body_content %}

<!--{% include "blogs/includes/header.html" %}-->
<section>
     <header>
          <h1>My personal blog post</h1>
          <h2>I write about python </h2>
          <img src="{% static 'blogs/images/image.jpg' %}" alt="Author"/>
     </header>

</section>

<section>
     <h2>Featured posts</h2>
     <ul>
          <li>
               <article>
                    <a href="">
                         <img src="{% static 'blogs/images/image2.jpg' %}" alt="python"/>
                         <div>
                              <h3>Python Intro</h3>
                              <p>Python is a high level programming language.</p>
                         </div>
                    </a>
               </article>
          </li>
          <li>
               <article>
                    <a href="">
                         <img src="{% static 'blogs/images/images.jpg' %}" alt="django"/>
                         <div>
                              <h3>Django Basics</h3>
                              <p>Django is web framework in python.</p>
                         </div>
                    </a>
               </article>
          </li>
     </ul>
</section>

<section>
     <h2>About the author.</h2>
     <p>The author is learning python and will secure a good placement.</p>
     <p>Contact me on anywhere</p>
</section>
{% endblock %}
