{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}MY BLOG{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block css_files %}{% endblock %}
</head>
<header>
    <nav>
        <h1><a href="{% url 'home' %}">Home Page</a></h1>
         <a href="{% url 'allposts' %}">All Posts</a>
    </nav>
</header>
<body>
{% block body_content %}



{% endblock %}
</body>
</html>